<h4>Sign up form</h4>

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  class="card-body"
  novalidate
>

  <!-- username -->
  <div class="form-group">
    <label for="username">Username</label>
    <input
      class="form-control"
      formControlName="username"
      id="username"
      placeholder="Username"
      type="text"
    />
    <small *ngIf="username && username.errors && username.dirty" class="form-text text-muted">
      <span [hidden]="!username.errors.required">
        Required
      </span>

      <span [hidden]="!username.errors.minlength">
        Too short
      </span>

      <span [hidden]="!username.errors.maxlength">
        Too long
      </span>

    </small>
  </div>

  <!-- adresse email -->
  <div class="form-group">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      class="form-control"
      placeholder="Email"
    />
    <small *ngIf="email && email.errors && email.dirty" class="form-text text-muted">
      <span [hidden]="!email.errors.required">
        Required
      </span>
      <span [hidden]="!email.errors.email">
        Not valid
      </span>
    </small>
  </div>

  <!-- password -->
  <div class="form-group">
    <label for="password">Password</label>
    <input
      class="form-control"
      formControlName="password"
      id="password"
      placeholder="Password"
      type="password"
    />
    <small
      *ngIf="password && password.errors && password.dirty"
      class="form-text text-muted"
    >
      <span [hidden]="!password.errors.required">
        Required
      </span>

      <span [hidden]="!password.errors.minlength">
        Too short
      </span>

      <span [hidden]="!password.errors.maxlength">
        Too long
      </span>
    </small>
  </div>

  <!-- roles -->
  <div class="form-group">
    <label for="roles">Roles</label>
    <div class="form-check" *ngFor="let role of roles; let i=index" id="roles">
      <input type="checkbox" [value]="role.value" (change)="onRolesChange($event)"/>
      <label>&nbsp;{{ role.name | uppercase }}</label>
    </div>
  </div>

  <small
    *ngIf="this.form.controls['roleArray'].errors"
    class="form-text text-muted"
  >
    <span [hidden]="!this.form.controls['roleArray'].errors?.required">
        At least one value selected
    </span>
  </small>

  <!-- Bouton de soumission du formulaire -->
  <p class="text-center py-3">
    <button
      [disabled]="!form.valid"
      [ngClass]=
        "{'btn-success':form.valid,'btn-outline-info':!form.valid}"
      class="btn"
      type="submit">
      Validate
    </button>
  </p>

</form>
